---
import Layout from '../layouts/Layout.astro';
import Bg from '../components/Bg.astro';

---

<Layout title="Welcome to Astro.">
	<Bg>
		<div>
			<h2>PAUL BARCHI</h2>
			<a href="/src/pages/Sorpresa" class="button"><img class="paul"  src="/admin/paulinho.jpg" alt=""></a>
		<a href="/src/pages/Sorpresa">club</a>
		</div>
	</Bg>
	
	<a class="link" href="/Sorpresa">CLICKA PER SAPERNE DI PIU'</a>

</Layout>

<style>
	
.link{ display: block; text-align: center; color: white; font-size: 1rem; margin-top: 10px; }

</style>
