<img>
<h3 class="stupida">Ricercato per atti osceni in luogo pubblico, oltraggio al pubblico ufficiale e scatarrate moleste. Si aggira a piede libero in zona Brescia. In caso di avvistamento  segnalate alla questura</h3>
</div>

<style>
.stupida{font-size: 4rem; color: red; text-align: center; margin: 0 10px;}
</style>