<div>
    <h2>PAUL BARCHI</h2>

    <img class="paul"  src="paulinho.jpg" alt="">
</div>

<style>
    h2{font-size: 5rem; color: rgb(255, 255, 255); text-align: center; }
    .paul{height: 100px;   object-fit: cover;}
</style>