<div>
    <h2>PAUL BARCHI</h2>
<img class="paul"  src="/admin/paulinho.jpg" alt="">
    
</div>

<style>
    h2{font-size: 5rem; color: rgb(255, 255, 255); text-align: center; margin-top: 25px }
    .paul{height: 354px;  width: 100%; margin-top: -38px; object-fit: cover;}
</style>